* text=auto
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cmake text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.js text eol=lf

# Git LFS tracked assets
assets/sponza/**/*.glb filter=lfs diff=lfs merge=lfs -text
assets/sponza/**/*.bin filter=lfs diff=lfs merge=lfs -text
